<div class="container">
  <br />
  <br />
  <br />
  <div class="jumbotron">
    <h1 class="display-4">Who are we?</h1>
    <p class="lead"><em>"Changing the world, one technological advancement at a time"</em></p>
    <hr class="my-4">
    <p>Our role in todays world of technological advancements, pentesting, robotics, AI and every other category you can think of, is nothing
      short of great. Here at Natties, our team is well trained and educated in thousands of state of the art tools, allowing us to bring you
      new technologies, softwares, exploits and other projects each day to aid in cyber security and defense. All of which are able to be purchased
      and used at your disposal.</p>
  </div>

  <br />
  <div class="jumbotron">
    <h1 class="display-4">How can you help?</h1>
    <p class="lead"><em>"Ideas are imperative to success"</em></p>
    <hr class="my-4">
    <p>By purchasing our products, you contribute to the development of new technologies to aid in cyber security and defense. We are not in this for the money, but advancement
      always comes at a cost and that's where you come in. You are guaranteed quality with each of our products along with consistent updates
      at no cost to you. But where do our project ideas come from? They come from you. Head on over to our project idea forum and pass along your thoughts.
      Each project idea is thorougly looked over and considered, if our team deems your project idea as do-able, you will be contacted via our messaging service.</p>
  </div>

  <br />
  <div class="jumbotron">
    <h1 class="display-4">Our Team</h1>
    <p class="lead"><em>"Collaboration is key to opening new doorways"</em></p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../assets/imgs/noah.jpg" class="card-img-top" alt="..." style="height:250px;">
          <div class="card-body">
            <h5 class="card-title">Dylan Kane</h5>
            <h6 class="card-subtitle mb-2 text-muted">Developer/Engineer</h6>
            <p class="card-text">Dylan Kane is doin a bunch of cool stuff too but noah is waiting for him to fill this out
              cuz dyl knows more about himself than noah does. but dylan does a bunch of robot stuff and is quickly taking over
              the world one AI at a time. Dylan loves to eat babies also, its his favorite food on the weekend.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../assets/imgs/noah.jpg" class="card-img-top" alt="..." style="height:250px;">
          <div class="card-body">
            <h5 class="card-title">Noah Clark</h5>
            <h6 class="card-subtitle mb-2 text-muted">Developer/Engineer</h6>
            <p class="card-text">Noah Clark has been a software developer and engineer for 15 years. Noah specializes in, but is not
              limited to, developing pentesting software and equipment such as rubber duckies, trojans, exploits and other pentesting
              related items. Noah is the lead developer for the QWERTY Pentesting framework.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../assets/imgs/noah.jpg" class="card-img-top" alt="..." style="height:250px;">
          <div class="card-body">
            <h5 class="card-title">Other Guy</h5>
            <h6 class="card-subtitle mb-2 text-muted">Developer/Engineer</h6>
            <p class="card-text">This is the other guy, he does nothing and just drinks all of our coffee in a huge office building
            that we totally have. He is our bitch basically and we make him go out and get stuff for us every second of the day, hes such
            a little girl i cant even stand him but i was required to mention him.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
