<div class="container">
    
    <br><br>

    <div class="bs-docs-section">

        <div class="row">

            
            <div class="bs-docs-section">
                <h2>Tutorials</h2>
                <br>
                <p>Along the way we've figured out a thing or two, here are some tutorials to keep you from reinventing the wheel.</p>
                <p><small>Check out our GitHub for some more code <abbr title="attribute"><a href="www.github.com/dmkaner">GitHub</a></abbr></small></p>
                <br><br>
            </div>
            

            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header">Pwnable.kr Tuts</h3>
                    <div class="card-body">
                    <h6 class="card-subtitle text-muted">CTF solutions for Pwnable!</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="assets/imgs/pwnablekr.png" alt="Card image">
                    <div class="card-body">
                    <p class="card-text">Pwnable.kr is one of the best CTF sites to really get a good grasp on being a hacker
                        and not a script kiddie. Check it out to learn somethin.
                    </p>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button routerLink="/excreation" class="btn btn-info active">
                           <input type="checkbox" checked="" autocomplete="off">  Learn More
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header">Pwnable.kr Tuts</h3>
                    <div class="card-body">
                    <h6 class="card-subtitle text-muted">CTF solutions for Pwnable!</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="assets/imgs/pwnablekr.png" alt="Card image">
                    <div class="card-body">
                    <p class="card-text">Pwnable.kr is one of the best CTF sites to really get a good grasp on being a hacker
                        and not a script kiddie. Check it out to learn somethin.
                    </p>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button routerLink="/excreation" class="btn btn-info active">
                           <input type="checkbox" checked="" autocomplete="off">  Learn More
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header">Pwnable.kr Tuts</h3>
                    <div class="card-body">
                    <h6 class="card-subtitle text-muted">CTF solutions for Pwnable!</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="assets/imgs/pwnablekr.png" alt="Card image">
                    <div class="card-body">
                    <p class="card-text">Pwnable.kr is one of the best CTF sites to really get a good grasp on being a hacker
                        and not a script kiddie. Check it out to learn somethin.
                    </p>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button routerLink="/excreation" class="btn btn-info active">
                           <input type="checkbox" checked="" autocomplete="off">  Learn More
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br>
    

    <footer class="page-footer font-small pt-4">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> NADDIES</a>
        </div>
      <!-- Copyright -->
    
    </footer>

</div>