
<div class="jumbotron text-center hoverable p-4">

    <div class="container">
        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">

                <!-- Featured image -->
                <div class="view overlay">
                    <img class="img-thumbnail" style="height: 450px; width: 100%; display: block;" src="assets/imgs/postsploit.jpg" alt="Card image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">

                <!-- Excerpt -->
                <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Pentesting</h6>
                </a>

                <h4 class="h1 mb-4">Postsploit Remote Access Trojan</h4>

                <p class="lead">PostSploit is an advanced remote access trojan that uses a postgresql database to execute commands on a remote machine.
                This approach is extremely effective because of how unconventional it is. Unlike normal socket based RATs, PostSploit does not require
                port forwarding because of the way it is built. PostSploit uses an approach we like to call the "middleman" approach, instead of normal
                peer to peer communication, it connects to a database which does all the heavy lifting in terms of data storage and transfer. This also
                allows for easy anonymity, if the victim script were to fall into the wrong hands, it would be difficult for it to be traced back to the
                attacker machine.
                </p>
                <button routerLink="/" class="btn btn-success">
                     Purchase
                </button>

            </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->


    </div>

</div>

<div class="container">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/clnBWX4rA90"></iframe>
    </div>


    <br><br>
    <h2>PostSploit Remote Access Trojan</h2>
    <br>

    <div class="row">


        <div class="col-lg-4">
            <p>PostSploit is extremely powerful and is to be used for white hat reasons only. Proper identification will be needed before purchasing of this product will become available. If identification criteria are not met, you will not be sold this product and your IP will marked.</p>
            <p><small>We innovate and sell to the free world. Democracy or fuck off.></small></p>
        </div>

        <div class="col-lg-4">
            <p>In purchasing of PostSploit, you will be subject to any and all updates that are released for this product at no cost. A one time activation code will provided to you in order to use or update this product. This software is by no means a toy and is to be treated as a weapon.</p>
            <p><small>We innovate and sell to the free world. Democracy or fuck off.</small></p>
        </div>

        <div class="col-lg-4">
            <p>As for all NADDIES products, redistribution or reverse engineering is prohibitted. If any of these guidlines are violated, you will be blacklisted from NADDIES and will be subject to penalty. It is important that these guidlines are met in order to keep our tech in the right hands.</p>
            <p><small>We innovate and sell to the free world. Democracy or fuck off.</small></p>
        </div>
    </div>

    <br><br>



</div>
