<div class="container">

    <br><br><br>

    <div class="bs-docs-section">
        <div class="bs-component">
            <div class="jumbotron">
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">Welcome to NADDIES. We're just a few engineers who create some weird shit, and we figured in the right hands it could help out with some stuff. Like defending freedom. Shop around. Use it for good.</p>
                <hr class="my-4">
                <p>Want to learn a little bit more about who we are and what we're up to?</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>

    <br><br>

    <div class="bs-docs-section">

        <div class="row">


            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="navs">Recent Creations</h1>
                    <a class="text-muted" routerLink="/creations">View All</a>
                </div>
            </div>
            <br><br><br><br>

            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header">Swarm Drone</h3>
                    <div class="card-body">
                    <h6 class="card-subtitle text-muted">24/7 Swarm Surveillance</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="assets/imgs/drone.png" alt="Card image">
                    <div class="card-body">
                    <p class="card-text">A quadcopter solution to find anything you need. Missing persons? Check. Forest fires? Check. Car with certain license plate? Easy money.</p>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button routerLink="/excreation" class="btn btn-primary active">
                           <input type="checkbox" checked="" autocomplete="off">  Learn More
                        </button>
                        <button routerLink="/" class="btn btn-success">
                            <input type="checkbox" autocomplete="off"> Purchase
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header">Rubber Ducky</h3>
                    <div class="card-body">
                    <h6 class="card-subtitle text-muted">Driver pentesting for cheap!</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="assets/imgs/ardu.jpg" alt="Card image">
                    <div class="card-body">
                    <p class="card-text">Our budget version of the famous rubber ducky for a fraction of the original price.</p>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button routerLink="/excreation" class="btn btn-primary active">
                           <input type="checkbox" checked="" autocomplete="off">  Learn More
                        </button>
                        <button routerLink="/" class="btn btn-success">
                            <input type="checkbox" autocomplete="off"> Purchase
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header">PostSploit Trojan</h3>
                    <div class="card-body">
                    <h6 class="card-subtitle text-muted">Postgresql based RAT</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="assets/imgs/postsploit.jpg" alt="Card image">
                    <div class="card-body">
                    <p class="card-text">A compiled remote access trojan for Windows derived from the QWERTY Framework. This Trojan
                    uses a Postgresql database for command execution and supports multiple devices. PostSploit is invisible to network firewalls.</p>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button routerLink="/postsploit" class="btn btn-primary active">
                           <input type="checkbox" checked="" autocomplete="off">  Learn More
                        </button>
                        <button routerLink="/" class="btn btn-success">
                            <input type="checkbox" autocomplete="off"> Purchase
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br>
    <div class="bs-docs-section">
        <h2>Wondering what's this all about?</h2>
        <br>
        <p>NADDIES is a defense development and deployment company which takes a cyber approach to world security. We focus on creating hardware and software to aid in defending democracy in an age where a single line of code in the wrong hands can change millions of lives in an instant.</p>
        <p><small>We innovate and sell to the free world. Democracy or fuck off. <abbr title="attribute"><a routerLink="/about">Learn More</a></abbr></small></p>
    </div>

    <footer class="page-footer font-small pt-4">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> NADDIES</a>
        </div>
      <!-- Copyright -->

    </footer>

</div>
