
<div class="jumbotron text-center hoverable p-4">

    <div class="container">
        <!-- Grid row -->
        <div class="row">
    
        <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
        
                <!-- Featured image -->
                <div class="view overlay">
                    <img class="img-thumbnail" style="height: 450px; width: 100%; display: block;" src="assets/imgs/androne.jpg" alt="Card image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">
        
                <!-- Excerpt -->
                <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Robotics</h6>
                </a>
        
                <h4 class="h1 mb-4">Autonomous Drone</h4>
        
                <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
        
            </div>
        <!-- Grid column -->
    
        </div>
        <!-- Grid row -->

        
    </div>

</div>

<div class="container">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg"></iframe>
    </div>


    <br><br>
    <h2>Swarm Drone Tech</h2>
    <br>

    <div class="row">
        

        <div class="col-lg-4">
            <p>NADDIES is a defense development and deployment company which takes a cyber approach to world security. We focus on creating hardware and software to aid in defending democracy in an age where a single line of code in the wrong hands can change millions of lives in an instant.</p>
            <p><small>We innovate and sell to the free world. Democracy or fuck off. <abbr title="attribute"><a routerLink="/">Learn More</a></abbr></small></p>
        </div>

        <div class="col-lg-4">
            <p>NADDIES is a defense development and deployment company which takes a cyber approach to world security. We focus on creating hardware and software to aid in defending democracy in an age where a single line of code in the wrong hands can change millions of lives in an instant.</p>
            <p><small>We innovate and sell to the free world. Democracy or fuck off. <abbr title="attribute"><a routerLink="/">Learn More</a></abbr></small></p>
        </div>

        <div class="col-lg-4">
            <p>NADDIES is a defense development and deployment company which takes a cyber approach to world security. We focus on creating hardware and software to aid in defending democracy in an age where a single line of code in the wrong hands can change millions of lives in an instant.</p>
            <p><small>We innovate and sell to the free world. Democracy or fuck off. <abbr title="attribute"><a routerLink="/">Learn More</a></abbr></small></p>
        </div>
    </div>

    <br><br>


    <h4 class="h1 mb-4">Request Product!</h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Send us your email and we'll contact you within 24 hours</small>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Request</button>
    </form>

    <br><br><br><br>

    <footer class="page-footer font-small pt-4">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> NADDIES</a>
        </div>
      <!-- Copyright -->

    </footer>
    

</div>

